<ion-modal-view>
   <ion-header-bar class="bar bar-header button-assertive-900">
		<h1 class="title">Change Password</h1>
		<button class="button icon icon-left button-icon ion-close-circled  flat" ng-click="closepasswordModal()"></button>
	</ion-header-bar>
    <ion-content class="padding">
    	<div ng-show="$scope.errorObj">
           <div style="color:red;margin:5px;padding:5px;" >Please enter Old Password.</div>
        </div>
    	<form class="list animated bounceIn " name="changePassForm" class="css-form" novalidate id="signup-form4" ng-submit="changePassForm.$valid && refreshCharts(changePass)">
	    	<div style="height:auto;width:auto;padding:10px;margin:3px;">
	    		<div class="card" style="border-radius:10px 10px 10px 10px;">
					<label class="item item-input" id="fromDate-input7">
	                    <span class="input-label">Old Password <span class="assertive">*</span></span>
	                    <input type="password" ng-model="changePass.oldPass"  required name="oldPass">
	                </label> 
	                <div ng-show="changePassForm.$submitted || changePassForm.oldPass.$touched">
		               <div style="color:red;margin:5px;padding:5px;" ng-show="changePassForm.oldPass.$error.required">Please enter Old Password.</div>
		            </div>
	                <label class="item item-input" id="toDate-input8" >
	                    <span class="input-label" >New Password <span class="assertive">*</span></span>
	                    <input type="password" ng-model="changePass.newPass" value="{{changePass.newPass}}" required name="newPass">
	                </label>
	                <div ng-show="changePassForm.$submitted || changePassForm.newPass.$touched">
		               <div style="color:red;margin:5px;padding:5px;" ng-show="changePassForm.newPass.$error.required">Please enter New Password.</div>
		            </div>
	    		</div>
	    		<button class="button button-assertive-900 button-block" type="submit" id="refineDashboard-button4" ng-click="changePassword(changePass)">Change</button>
	    	</div>
    	</form>
    </ion-content>
</ion-modal-view>